{% extends "skeleton.html" %}
{% block body %}
<div class="row justify-content-center">
  <div class="col-md-8 pt-4 pb-5">
    <h4>Please register:</h4>
    <form action="" method="post" class="pb-3">
      <div class="form-group">
        <label for="User_Name">Username*</label>
        <input type="text" class="form-control" id="User_Name" aria-describedby="User_Help" placeholder="User name" name="User_Name" value="{{request.form.User_Name}}">
      </div>
      <div class="form-group">
        <label for="Email">Email address*</label>
        <input type="email" class="form-control" id="Email" aria-describedby="emailHelp" placeholder="Email" name="Email" value="{{request.form.Email}}">
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <label for="Password">Password*</label>
        <input type="password" class="form-control" id="Password" placeholder="Password" name="Password" value="{{request.form.Password}}">
      </div>
      <div class="form-group">
        <label for="Re_Password">Repeat Password*</label>
        <input type="password" class="form-control" id="Re_Password" placeholder="Repeat password" name="Re_Password" value="{{request.form.Re_Password}}">
      </div>
      <div class="form-group form-check">
        <input type="checkbox" class="form-check-input" id="Accept" value="{{request.form.Accept}}" name="Accept">
        <label class="form-check-label" for="Accept">I accept the Terms of Services and the Privacy Notice (Last Updated - NOT YET)</label>
      </div>
      <p class="text-danger"><b>{{error}}<b></p>
      <input type="submit" class="btn btn-success" value="Register">
    </form>
  </div>
</div>
{% endblock %}